:root {
    --brand-blue: #2196F3;
    --brand-black: #212121;
    --brand-white: #ffffff;
    --brand-fon: #2F303A;
    --brand-grey:#757575;
    --brand-black-studio: #000000;
    --brand-background: #E5E5E5;
    --brand-background-team: #F5F4FA;
    
    
}
 /* СТУДИЯ 1 */
body {
color: var(--brand-black);
font-family: 'Roboto', sans-serif;
font-size: 14px;
color: #E5E5E5;

}
.container{
    
    width: 1200px;
    margin:0 auto;
    padding: 0 15px;
    outline: 2px solid tomato;
    
    
    
}
h1,h2,h3,h4,h5,h6{
    margin: 0 auto;
    
}
p{
    margin: 0 auto;
    
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
        display: block;
        max-width: 100%;
        height: auto;
        
}





/* header  */
   /* ВАРИАНТ 1 */


   /* .link-logo{
text-decoration: none;
color: var(--brand-black-studio);

font-family: Raleway;
font-weight: 700px;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}
.link-logo:hover, .link-logo:focus{
    color: var(--brand-white);
}
.link-logo:active{
    color:var(--brand-white);
}
.list-nav, header .list-items{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
list-style-type: none;
}
header .list-adress{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--brand-grey);
list-style-type: none;

}

.text-web{
    color: var(--brand-blue);
}
.list-items{
    list-style-type: none;
}

.link{
    text-decoration: none;
    color: var(--brand-black);
    
}
.link:hover, .link:focus{
    color: var(--brand-blue);
}
.link:active{
    color: var(--brand-blue);
} */

     /*   ВАРИАНТ 2 */
.header{
    background-color: var(--brand-white);
    border-bottom-style: solid;
}
.container-header{
    display: flex;
    align-items: center;
}




    .link-logo{
text-decoration: none;
color: var(--brand-black);
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;

}
.header .link-logo {
    display: inline-block;
    margin:25px 0 ;
    padding-top: 25px;
    padding-bottom: 25px;
}

.text-web {
    color: var(--brand-blue)
}
.link-logo:hover, .link-logo:focus{
    color: var(--brand-blue);
}
.link-logo:active{
    color: var(--brand-blue);
}


a{
    text-decoration: none;
}

.header-list-nav, .header-list-adress{
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-black);
    
}
.header-list-nav{
    display: flex;
    margin-left: 93px;
}
.header-list-adress{
    display: flex;
    margin-left: auto;
}
.header-item:not(:last-child){
    margin-right: 50px;
    
}


.header-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--brand-black-studio);

}
.header-link:hover, .header-link:focus {
    color: var(--brand-blue);
}
.header-item-adress + .header-item-adress{
    margin-left: 50px;
}
.header-link-mail, .header-link-tel{
    display:flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--brand-grey);

}
.connection:hover, .connection:focus{
    color: var(--brand-blue);
}
.aclive-page{
    color: var(--brand-blue);
}



/*////////////////////// основная часть //////////////////*/
/*///////////////////////// hero //////////////////////// */
.hero{
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--brand-fon);
    text-align: center;



}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.4;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--brand-white);
margin-bottom: 30px;
width: 696px;
}
.hero-btn {
background-color: var(--brand-blue);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
cursor:pointer;
font-family: inherit;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: var(--brand-white);
min-width: 200px;
border:1px solid transparent;


padding: 10px 32px;
}
.hero-btn:hover, .hero-btn:focus{
    color: var(--brand-background);
}
.hero-btn:active{
    color:var(--brand-background);
}
/* ////////////////////special /////////////////////////*/
.special{
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }



.title{
font-weight: 700;
text-align: center;
font-size: 36px;
line-height: 1.6;
letter-spacing: 0.03em;
color: var(--brand-black);
}
.special-list{
    display: flex;
    margin-right: -30px;
    
}
.special-item{
    width: 270px; 
    margin-right: 30px;
}
.special-feature{
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--brand-black);
margin-bottom: 10px;

}
.special-text{

font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--brand-grey);
}
/* ////////////////////////work ////////////////////*/
.work{
    display: flex;
    padding-bottom: 94px;
    
    
    
}
.work-title{
    margin-bottom: 50px;
}
.work-list{
    display: flex;
    margin-right: -30px;
    
}
.work-item {
    margin-right: 30px;
}
/* .work-list{
    display: flex;
    
}
/* .work-item:not(:last-child){
    margin-right: 30px;
} */ 

/* ////////////////////////team ///////////////////////// */
.team{
    background-color: var(--brand-background-team);
    padding-bottom: 94px;
}
.team-title{
    margin-bottom: 50px;
}
.team-list{
    display: flex;
    margin-right: -30px;
}
.team-item{
margin-right: 30px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}
.team-poster{
text-align: center;
padding-bottom: 30px;



}
.team-img{
    margin-bottom: 30px;
}
.team-title-men{
font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 10px;
}
.team-class{
    font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--brand-grey);
}
/*  footer*/

footer{
    background-color: var(--brand-fon);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .link-logo{
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    color: var(--brand-white);
}


.link-logo:hover, .link-logo:focus{
    color: var(--brand-blue);
}
.link-logo:active{
    color:var(--brand-blue);
}

.footer-adress{
    color: var(--brand-white);
}
.footer-list{
    margin-bottom: -9px;
}
.footer-item-adress{
 font-size: 14px;
 font-style: normal;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--brand-white);
margin-bottom: 9px;
}
.footer-item{
    font-style: normal;
    margin-bottom: 9px;
}
.footer .link-logo{
    margin-bottom: 20px;
}
.footer-link-tel, .footer-link-mail{
color: rgba(255, 255, 255, 0.6);
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}


/* ПОРТФОЛИО */

/* MEIN */
/*///////////////////// services///////////////////// */
.services{
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.services-list{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em; 
}
.secvices-item + .secvices-item{
    margin-left: 8px;
}

.services-btn {
font-family: Roboto;
font-weight: 500;
background-color: var(--brand-background-team);
cursor: pointer;
color: var(--brand-black);
border-radius: 4px;
font-size: inherit;
border: 1px solid transparent;
padding: 4px 22px;
}
.services-btn:hover, .services-btn:focus{
    color:var(--brand-white);
    background-color: var(--brand-blue);
}
.services-btn:active{
    color: var(--brand-white);
}
.services-btn{
padding: 6px 22px;

}
.services-cards{
    display: flex;
    flex-wrap: wrap;
    margin-right:-30px;
    margin-bottom: -30px;
    
    
}
.services-cards-item{
    margin-right:30px;
    margin-bottom: 30px;
    
}
.karen-btn{
    background-color: var(--brand-blue);
    color: var(--brand-white);
}
.services-list{
    margin-bottom: 50px;
    
}

.services-title{
    font-weight:700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--brand-black);
    margin-bottom: 4px;
}


.services-text {
    font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
color: var(--brand-grey);
}


.poster-text{
    border: 1px solid #EEEEEE;
    padding:20px 24px;   
    border-top: 0;
    
    
    
    
}
